html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: var(--adw-font-family);
    font-size: var(--adw-font-size);
    background-color: var(--adw-bg-color);
    color: var(--adw-text-color);
    overflow: hidden; /* 模擬桌面應用程式的固定視窗 */
}


/* Corresponds to: AdwBreakpointBin and AdwOverlaySplitView */
.AdwBreakpointBin, .AdwOverlaySplitView {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
}


#Breakpoint-bin {
    min-height: 300px;
    min-width: 360px;
}


#AdwOverlaySplitView__sidebar {
    /* Simulates sidebar-width-fraction="0.2" */
    flex-basis: 20%;
}


main {
    width: 100%;
    height: 100%;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    font: inherit;
}